
<nav class="section">
  <div class="menu-wrap">
    <div class="menu">
      <div class="if-block" *ngIf="!isSignedIn">
        <a routerLink="/register">Register</a>
      </div>
      <div>
        <a routerLink="/blogs">Blogs</a>
      </div>
      <div class="if-block" *ngIf="isSignedIn">
        <a routerLink="/yourblogs">Your blogs</a>
        <a routerLink="/logout">LogOut</a>
      </div>
    </div>
      
  </div>
  <div class="content">
    <router-outlet></router-outlet>

  </div>
</nav>


