<!-- <button type="button" (click)="goBack()">go back</button>
<div class="section" *ngIf="blog">
    <ul class="container" *ngFor="let article of blog.articles">
      <li  class="card">
        <div class="card-header">
          <div class="date">6 Oct 2017</div>
          <img src="../../assets/images/samuro.jpg">
        </div>
        <div class="card-body">
          <div class="user-info">
            <h3>{{article.title}}</h3>
            <span>{{article.description}}</span>
            <div>Id User:{{blog.idUser}} </div>
          </div>
        </div>
        <app-comment [article]="article" [id]="article.id">Comments</app-comment>
        <app-like [article]="article"></app-like>
      </li>
      
    </ul>
</div> -->
