<button type="button" (click)="goBack()">go back</button>
<div class="section">
    <div class="container">
      <div  class="card" *ngIf="article">
        <div class="card-header">
          <app-photo [userImage]="article.photo"></app-photo>
        </div>
        <div class="card-body">
          <h1>{{article.title}}</h1>
          <div class="user-info">
            <span class="description">
              {{article.description}}
            </span>
            <div class="date">
              <p>6 Oct 2017</p>
              <app-like [article]="article"></app-like>
            </div>
            
            <div class="info">
              <img src="../../assets/images/user.png">
              <a routerLink="/user/{{article.blog!.idUser}}">{{article.blog!.user?.userName}} </a>
            </div>
          </div>
        </div>
        <div>
          <app-comment [article]="article" [id]="article.id"></app-comment>
        </div>
      </div>
      
    </div>
</div>
