<!-- <div class="d-flex flex-column align-items-center justify-content-center" *ngIf="!signedIn else signedInAlready">
    <div>Please Sign In to continue</div>
    <form class="form w-50" [formGroup]="loginForm" (submit)="logIn($event)">
        <div class="row m-3">
            <label for="name">Email*</label>
            <input class="col form-field" name="email" formControlName="email" />
        </div>
        <div class="row m-3">
            <label for="password">Password*</label>
            <input class="col form-field" type="password" name="password" formControlName="password" autocomplete="on" />
        </div>
        <div class="row m-3" *ngIf="authFailed">
            <label style="color: red">Invalid credentials</label>
        </div>
        <div class="row m-3">
            <button class="col btn btn-primary" [disabled]="!loginForm.valid" type="submit">Sign In</button>
        </div>
    </form>
    <div class="alert-info p-2">
        Try user1@test.com / user1
        or user2@test.com / user2
    </div>
</div> -->



<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <h1 class="mb-4 pb-3">Log In</h1>
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <div class="card-front">
                                <div class="center-wrap">
                                    <form class="section text-center" style="height: 100%;" [formGroup]="loginForm" (submit)="logIn($event)">
                                        
                                        <div class="form-wrap">
                                            <div class="form-group">
                                                <input type="email" class="form-style" placeholder="Email" name="email" formControlName="email" />
                                            </div>
                                            <div class="form-group mt-2">
                                                
                                                <input class="form-style" placeholder="Password" type="password" name="password" formControlName="password" autocomplete="on" />
                                            </div>
                                            <div class="form-group mt-2" *ngIf="authFailed">
                                                <h4 class="mb-4 pb-3">Invalid credentials</h4>
                                            </div>
                                                <button class="btn mt-4" [disabled]="!loginForm.valid" type="submit">Sign In</button>
                                        </div>
                                        
                                        
                                    </form>
                              </div>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
    </div>
</div>

<ng-template #signedInAlready>
    <h4>Sign In</h4>
    <div>
        You are already signed in!
    </div>
</ng-template>
