<div class="section">
    <div class="blogs-header-wrap">
      <div class="blogs-header">
        <div >
          Категория
          <select [(ngModel)]="selectedCategoryId" (change)="SortByCategory()">
            <option value="0" selected>Все</option>
            <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
          </select>

        </div>
        <input class="searching" placeholder="Название блога" [(ngModel)]="nameBlog" (ngModelChange)="searching()" type="search">
      </div>
    </div>
    <ul class="container" >
      <li class="card" *ngFor="let blog of showBlog" >
            <div class="card-header">
              <div class="date">6 Oct 2017</div>
              <img src="../../assets/images/samuro.jpg">
            </div>
            <div class="card-body" >
              <span class="tag tag-teal">{{blog.category?.name}}</span>
              <h1>
                <a class="hover" routerLink="/articles/{{blog.id}}">{{blog.name}}</a>

              </h1>
              <div class="user">
                <div class="user-info">
                 
                    <img src="../../assets/images/user.png">
                    <a routerLink="/user/{{blog.idUser}}">{{blog.user?.userName}} </a>
                  
                </div>
              </div>
            </div>
      </li>
    </ul>
</div>


