<div class="section" *ngIf="article">
  <form class="comment-area" [formGroup]="commentForm" (submit)="addNewComment()">
    <textarea name="description" formControlName="description" class="comment-text"></textarea>
    <input type="submit" [disabled]="!commentForm.valid" value="Send">
  </form>
  <div class="container">
    <ul class="" *ngFor="let comment of comments">
      <li>{{comment.id}},{{comment.description}}, {{comment.idUser}}</li>  
    </ul>
  </div>
  
</div>

<!-- <div class="section" *ngIf="blog">
    <ul class="container" *ngFor="let article of blog.articles">
      <li  class="card">
        <button (click)="deleteArticle(article.id!)"><img src="../../assets/images/close.png" height="10px" width="10px"></button>
        <div class="card-header">
          <div class="date">6 Oct 2017</div>
          <img src="../../assets/images/samuro.jpg">
        </div>
        <div class="card-body">
          <div class="user-info">
            <h2 style="color: black;">{{article.title}}</h2>
            <span>{{article.description}}</span>
            <div>Id User:{{blog.idUser}} </div>
          </div>
        </div>
  
      </li>
      
    </ul>
  </div> -->