
<div class="section" *ngIf="article">
  <div class="comment-label">
    <p style="margin-top: 0;">Комментарии:</p>

  </div>
  <form class="comment-area" [formGroup]="commentForm" (submit)="addNewComment()">
    <textarea name="description" formControlName="description" class="comment-text"></textarea>
    <input class="bn11" type="submit" [disabled]="!commentForm.valid" value="Send">
  </form>
  <ul class="container" >
    <li class="users-wrap" *ngFor="let comment of comments" >
          <a routerLink="/user/{{comment.user?.id}}" class="users-body" >
            <div class="user">
              <img src="../../assets/images/user.png">
              <p>{{comment?.user?.userName}} </p>
              
            </div>
          </a>
          <div class="asddsa">
            <p class="user-comment">{{comment.description}}</p>

          </div>
    </li>
  </ul>
  
</div>

